.nucleo-procedure {
  padding: 70px 0;
  color: $title;
  background-color: $bg;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  &__inner {
    max-width: 455px;
    text-align: left;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__descr {
    font-weight: 700;
    text-align: right;
  }
}